<p class="mb-3">
  <%= notice %>
</p>

<%= link_to "링크 추가", new_link_path, class: "btn btn-primary mb-3" %>

<div class="row row-cols-1 row-cols-md-3 g-4 mb-3">
  <% @links.each do |link| %>
    <%= render link %>
  <% end %>
</div>